{% extends 'base.html' %}
{% load static %}
{% block title %}View Your Account{% endblock title %}

{% block style %}
.container{
  margin-top: 0%;
}

.account-btn {
}

.company-btn {
}

.field-name{
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
}

.field-value{
}

{% endblock style %}

}
{% block content %}
<div class="profile-page">
  <div class="wrapper">
      <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <img class="bg-image" src="{% static 'assets/img/pages/office.jpg' %}" style="width: 100%;">
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <section class="section bg-secondary profile-card">
        <div class="container">
          <div class="card card-profile shadow mt--300">
            <div class="px-4">
              <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                </div>
                <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                  <div class="card-profile-actions py-4 mt-lg-0">
                    <a href="{% url 'accounts:update-account' request.user.id %}" class="btn btn-sm btn-info mr-4 float-left account-btn">Update Account</a>
                    {% if company %}
                      <a href="{% url 'company:view-company' %}" class="btn btn-sm btn-default float-right company-btn">View Company</a>
                    {% else %}
                      <a href="{% url 'company:create-company' %}" class="btn btn-sm btn-default float-right company-btn">Add Company</a>
                    {% endif %}
                  </div>
                </div>
                <div class="col-lg-4 order-lg-1">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <span class="field-name">First Name</span>
                      <span class="description field-value">{{ request.user.first_name }}</span>
                    </div>
                    <div>
                      <span class="field-name">Last Name</span>
                      <span class="description field-value">{{ user.last_name }}</span>
                    </div>
                    <div>
                      <span class="field-name">Company</span>
                      {% if company %}
                      <span class="description field-value">{{ company.company_name }}</span>
                      {% else %}
                      <span class="description field-value">No associated company</span>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-5">
                {% if company %}
                <h3>{{ company.company_name }}<span class="font-weight-light"></span></h3>
                {% else %}
                 <h3>No company associated with your account<span class="font-weight-light"></span></h3>
                {% endif %}
                <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i></div>
                <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Contrary to popular belief, WestFolks
                  can help you manage your resources. It has roots in a piece of classical Latin literature from 45 BC,
                  making it over 2000 years old. </div>
                <div><i class="ni education_hat mr-2"></i>University of Computer Science</div>
              </div>
              <div class="mt-5 py-5 border-top text-center">
                <div class="row justify-content-center">
                  <div class="col-lg-9">
                    <p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
                    <a href="javascript:;">Show more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}
