{% extends 'base.html' %}

{% block title %}
    Login
{% endblock title %}

{% block style %}
.section-b{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 480px){

    body{
        background-color: white;
    }

    /* -------------Section B----------- */

    .section-b{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
{% endblock style %}

{% block content %}
<section class="section-b">
    <div class="form-div">
    </div>
</section>
{% endblock content %}
